p{
    border: 3px solid black;
}
span{
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.base{
    background:blue;
    border: 1px solid black;
    width: 500px;
    height: 250px;
}
.filho1{
    background:red;
    height: 100px;
    border: 1px solid black;
    width: 280px;
    margin-bottom: -75px;
    margin-left: 50px;
    margin-right: 50px;
}
.filho2{
    background:green;
    height: 100px;
    border: 1px solid black;
    width: 260px;
    margin-bottom: -50px;
    margin-top: 50px;
}